{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Employee info{% endblock %}
{% block content %}
    {% include "employees/navigator.html" %}
    <style>
    #employee {
        background-color: #2196F3;
        color:white;
    }
    </style>
    <main>
<h2>Employee {{ request.user.username }} is loged in</h2>
<a href="/employees/logout"  class="row">Logout</a>
<a href="/password_change"  class="row">Change password</a>
<section>
    <span>{{ employee.id }}</span>
    <span>{{ employee.first_name }}</span>
    <span>{{ employee.last_name }}</span>
</section>
    </main>
    {% include "footer.html" %}
{% endblock %}
