{% extends "public/base.html" %} {% load staticfiles %} {% block title %}Employee Registration{% endblock %} {% block content %} {% include "public/nav.html" %}

<script type="text/javascript">
    {% if messages %}
        {% for msg in messages %}
            Materialize.toast("{{ msg }}", 5000);
        {% endfor %}
    {% endif %}
</script>

<section class="row">
    <div class="col m4 s12 offset-m4 employee_login_box">
        <h2 id="napis">Employee registration</h2>
        <form method="post" role="form">
            {% for field in form.visible_fields %}
            <div id="div_{{ field.html_name }}" class="form-group{% if field.errors %} has-error{% endif %} input-field validate">
                {{ field }} {{ field.label_tag }}
                <div class="help-block">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% csrf_token %}
            <div class="form-group">
                <input type="submit" value="Register" name="register_btn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</section>
{% endblock %}
