{% extends "public/base.html" %}
{% load staticfiles %}
{% block title %}Password reset{% endblock %}
{% block content %}
<section>
    <h2>Reset password</h2>
    <p>Forgot your password?  Enter your email in the form below and we'll send you
    instructions for creating a new one.</p>
    <form method="post" role="form">
        {% for field in form.visible_fields %}
          <div id="div_{{ field.html_name }}" class="form-group{% if field.errors %} has-error{% endif %} input-field">
              {{ field }} {{ field.label_tag }}
              <div class="help-block">
                  {{ field.errors }}
              </div>
          </div>
          {% endfor %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% csrf_token %}
          <div class="g-recaptcha" data-sitekey="6Lc0xg0UAAAAALPewxJicDPL_cLqVyWW6bkKrfGq"></div>
          <div class="form-group">
              <input type="submit" value="Reset" class="btn btn-primary" />
          </div>
    </form>
</section>
{% endblock %}
