{% extends "public/base.html" %}
{% load staticfiles %}
{% block title %}Password reset{% endblock %}
{% block content %}

         {% include "nav_visitor.html" %}
    <h1 id="napis" style="margin-top: 300px;text-shadow: 0px 0px 6px white;">Reset password</h1>
</div>
    <div class="container">

    <section class="row" style="margin-top: 100px;">
        <div class="col m8 offset-m2 s12">

<p>Reset link was sent to your email address.</p>
<a href="/login">Back to login</a>
            </div>
    </section>
</div>

      {% include "footer.html" %}
{% endblock %}
