{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Donors{% endblock %}
{% block content %}
<script type="text/javascript">

remove = function(booking){
        $.ajax({
            type: "get",
            url: "/donors/terms/remove/"+booking,
            contentType: "application/json",
            success: function(data){
                var deleted_booking = document.getElementById("booking_"+booking);
                deleted_booking.parentNode.removeChild(deleted_booking);
                Materialize.toast("Booking at "+data[0]["id_nts__name"]+ ", " + data[0]["booking_time"] + ' was deleted', 10000);
            },
            error: function(xhr, status, error){
                var err = eval("(" + xhr.responseText + ")");
                alert(err.Message);
            }
        });
    };
</script>

<h2 class="donor_layout">My bookings</h2>
<div class="bookings" id="bookings">
{% if bookings %}
<ul class="collection with-header">
{% for booking in bookings %}
<li class="collection-item" id="booking_{{booking.id}}"><div>{{ booking.id_nts.name }} {{ booking.booking_time }} <a href="#"  onclick="remove( {{ booking.id }} );"  class="secondary-content"><i class="material-icons">delete</i></a></div></li>
{% endfor %}
</ul>
{% else %}
<div class="row empty_bookings">
    <h3>You have no bookings</h3>
    <i class="material-icons">access_time</i>
    <a href="/donors/terms/" class="waves-effect waves-light btn">Create new booking</a>
</div>
{% endif %}
</div>
{% endblock %}
