{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Employees{% endblock %}
{% block content %}
{% for employee in employees %}
    <a href="{{ employee.id }}" class="row">
        <span>{{ employee.id }}</span>
        <span>{{ employee.first_name }}</span>
        <span>{{ employee.last_name }}</span>
        <span>{{ employee.is_active }}</span>
    </a>
{% endfor %}
{% for x in nts %}
    <a href="{{ x.id }}" class="row">
        <span>{{ x.id }}</span>
        <span>{{ x.secret_key }}</span>
    </a>
{% endfor %}
{% endblock %}
