{% extends "base.html" %} {% load staticfiles %}
{% block title %}{{ donor.first_name }} {{ donor.last_name }}{% endblock %} {% block content %}
    {% if messages %}
        {% for message in messages %}
            <script>
                Materialize.toast('{{ message }}', 4000)
            </script>
        {% endfor %}
    {% endif %}
    <section class="row">
        <br>
        <a href="/donors" class="row">Back</a>
        <h2 id="napisL">{{ donor.first_name }} {{ donor.last_name }} information</h2>
        <hr>
        <br>
        <form method="post" role="form">
            <div class="col s6">
                {% for field in donor_form.visible_fields %}
                    <div id="div_{{ field.html_name }}"
                         class="form-group{% if field.errors %} has-error{% endif %} input-field">
                        {{ field }} {{ field.label_tag }}
                        <div class="help-block">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %} {% for hidden in donor_form.hidden_fields %} {{ hidden }} {% endfor %}
                <div class="form-group">
                    <input type="submit" value="Submit" name="save_donor" class="btn btn-primary"/>
                </div>
            </div>
            <div class="col s6">
                <h5>Permanent address</h5> {% for field in perm_address.visible_fields %}
                <div id="div_{{ field.html_name }}"
                     class="form-group{% if field.errors %} has-error{% endif %} input-field">
                    {{ field }} {{ field.label_tag }}
                    <div class="help-block">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %} {% for hidden in perm_address.hidden_fields %} {{ hidden }} {% endfor %}
                <h5>Temporary address</h5> {% for field in temp_address.visible_fields %}
                <div id="div_{{ field.html_name }}"
                     class="form-group{% if field.errors %} has-error{% endif %} input-field">
                    {{ field }} {{ field.label_tag }}
                    <div class="help-block">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %} {% for hidden in temp_address.hidden_fields %} {{ hidden }} {% endfor %}
            </div>
            {% csrf_token %}
        </form>
    </section>
    <section class="row">
        <div class="col s12">
            <h2 id="napisL">Questionnaires</h2>
            <hr>
            <br>
            <a href="questionnaire/0" class="waves-effect waves-light btn">New questionnaire</a>
            <br>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th data-field="id">Questionnaire ID</th>
                    <th data-field="name">Donnor ID</th>
                    <th data-field="price">Phone number</th>
                </tr>
                </thead>
                <tbody>
                {% if questionnaires %}
                    {% for questionnaire in questionnaires %}
                        <tr class="picker__list-item--highlighted"
                            onclick="window.location.href = 'questionnaire/{{ questionnaire.id }}';">
                            <td><span>{{ questionnaire.id }}</span></td>
                            <td><span>{{ questionnaire.id_donor }}</span></td>
                            <td><span>{{ questionnaire.phone }}</span></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>There are no questionnaires for now</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </section>
    <section class="row">
        <div class="col s12">
            <h2 id="napisL">Blood samples</h2>
            <hr>
            <br>
            <a href="blood_extraction/0" class="waves-effect waves-light btn">New blood extraction</a>
            <br>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th data-field="id">Blood ID</th>
                    <th data-field="name">Donnor ID</th>
                    <th data-field="price">State</th>
                    <th data-field="price">Date</th>
                </tr>
                </thead>
                <tbody>
                {% if blood_extractions %}
                    {% for blood_extraction in blood_extractions %}
                        <tr class="picker__list-item--highlighted"
                            onclick="window.location.href = 'blood_extraction/{{ blood_extraction.id }}';">
                            <td><span>{{ blood_extraction.id }}</span></td>
                            <td><span>{{ blood_extraction.id_donor }}</span></td>
                            <td><span>{{ blood_extraction.get_state_display }}</span></td>
                            <td><span>{{ blood_extraction.date }}</span></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>There are no blood extractions for now</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
