{% extends "base.html" %} {% load staticfiles %} {% block title %}Home{% endblock %} {% block content %}

<h2 id="napisL">My profile - {{donor.first_name}} {{donor.last_name}}</h2>
<div class="fixed-action-btn">
    <a href="/donors/0/questionnaire/0" class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
</div>
<section class="row">
    <div class="col s12 m6 l4">
        <div class="person">
            <i class="material-icons">person</i>
        </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="input-field col s12">
          <input disabled placeholder="Placeholder" type="text" value="{{ donor.perm_adress }}">
          <label for="">Mesto</label>
      </div>
      <div class="input-field col s12">
          <input disabled placeholder="Placeholder" type="text" value="{{ donor }}">
          <label for="">Ulica</label>
      </div>
      <div class="input-field col s12">
          <input disabled placeholder="Placeholder" type="text" value="{{ donor }}">
          <label for="">PSČ</label>
      </div>
      <div class="input-field col s12">
          <input disabled placeholder="Placeholder" type="text" value="{{ donor }}">
          <label for="phone_number">Telefónne číslo</label>
      </div>
      <div class="input-field col s12">
          <input disabled placeholder="Placeholder" type="text" value="{{ donor.email }}">
          <label for="email">Emailová adresa</label>
      </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="input-field col s12">
          <input disabled placeholder="Placeholder" type="text" value="{{ donor }}">
          <label for="">Krvná skupina</label>
      </div>
      <div class="input-field col s12">
          <input disabled placeholder="Placeholder" type="text" value="{{ donor }}">
          <label for="">Karta založená</label>
      </div>
      <div class="input-field col s12">
          <input disabled placeholder="Placeholder" type="text" value="{{ donor }}">
          <label for="">Zodpovedný lekár</label>
      </div>
      <div class="input-field col s12">
          <input disabled placeholder="Placeholder" type="text" value="{{ donor }}">
          <label for="">Najbližší odber</label>
      </div>
    </div>
</section>
<section class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a class="active" href="#test1">Questionnaires</a></li>
            <li class="tab col s3"><a href="#test2">Blood extractions</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th data-field="id">Questionnaire ID</th>
                    <th data-field="name">Donnor ID</th>
                    <th data-field="price">Phone number</th>
                </tr>
            </thead>
            <tbody>
                {% if questionnaires %} {% for questionnaire in questionnaires %}
                <tr class="picker__list-item--highlighted" onclick="window.location.href = 'questionnaire/{{ questionnaire.id }}';">
                    <td><span>{{ questionnaire.id }}</span></td>
                    <td><span>{{ questionnaire.id_donor }}</span></td>
                    <td><span>{{ questionnaire.phone }}</span></td>
                </tr>
                {% endfor %} {% else %}
                <tr>
                    <td>There are no questionnaires for now</td>
                </tr>
                {% endif %}

            </tbody>
        </table>
    </div>
    <div id="test2" class="col s12">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th data-field="id">Blood ID</th>
                    <th data-field="name">Donnor ID</th>
                    <th data-field="price">State</th>
                    <th data-field="price">Date</th>
                </tr>
            </thead>
            <tbody>
                {% if blood_extractions %} {% for blood_extraction in blood_extractions %}
                <tr class="picker__list-item--highlighted" onclick="window.location.href = 'blood_extraction/{{ blood_extraction.id }}';">
                    <td><span>{{ blood_extraction.id }}</span></td>
                    <td><span>{{ blood_extraction.id_donor }}</span></td>
                    <td><span>{{ blood_extraction.get_state_display }}</span></td>
                    <td><span>{{ blood_extraction.date }}</span></td>
                </tr>
                {% endfor %} {% else %}
                <tr>
                    <td>There are no blood extractions for now</td>
                </tr>
                {% endif %}

            </tbody>
        </table>
    </div>

</section>


{% endblock %}
