{% extends "public/base.html" %}
{% load staticfiles %}
{% block title %}Registration{% endblock %}
{% block content %}

         {% include "nav_visitor.html" %}
    <h1 id="napis" style="margin-top: 300px;text-shadow: 0px 0px 6px white;">Donor registration</h1>
</div>

<div class="container">

    <section class="row" style="margin-top: 100px;">
        <div class="col m8 offset-m2 s12">
        <form method="post" role="form">
            {% for field in registration_form.visible_fields %}
            <div id="div_{{ field.html_name }}" class="form-group{% if field.errors %} has-error{% endif %} input-field">
                {{ field }} {{ field.label_tag }}
                <div class="help-block">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% csrf_token %}
            <div class="form-group">
                <input type="submit" value="Register" name="register_btn" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </section>
</div>

        {% include "footer.html" %}


{% endblock %}

