{% extends "public/base.html" %} {% load staticfiles %} {% block title %}Registration{% endblock %} {% block content %} {% include "public/nav.html" %}
<main>
    <h2 id="napisL">Donor registration cofirm</h2>
    <hr>

    <section class="row">

        {% if validlink %}
        <p>Thank you for registration! You can now <a href="/login">sign in</a>.</p>
        {% else %}
        <p>This confirmation link is no longer valid!</p>
        {% endif %}

    </section>
</main>

{% include "footer.html" %} {% endblock %}
