{% extends "public/base.html" %} {% load staticfiles %} {% block title %}Registration{% endblock %} {% block content %} {% include "public/nav.html" %}

<script>
    {% if messages %}
        {% for message in messages %}
            Materialize.toast('{{ message }}', 4000)
        {% endfor %}
    {% endif %}
</script>

<main>
    <h2 id="napisL">Donor registration cofirm</h2>
    <hr>

    <section class="row">

        {% if validlink %}
        <p>Thank you for registration! You can now <a href="/login">sign in</a>.</p>
        {% else %}
        <p>This confirmation link is no longer valid!</p>
        {% endif %}

    </section>
</main>

{% include "footer.html" %} {% endblock %}
