<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}NTS{% endblock %}
    </title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'isnts/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'isnts/css/style.css' %}">
    <script src="{% static 'isnts/js/materialize.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    {% block content %}{% endblock %}
    <script>
    $(document).ready(function() {
        $('select').material_select();
      });
    </script>
</body>

</html>
