{% extends "base.html" %} {% load staticfiles %} {% block title %}Employee Login{% endblock %} {% block content %}
<section class="row">
    <h2 id="napisL">Terms</h2>
    <hr>

    <table class="responsive-table">
        <thead>
            <tr>
                <th data-field="id">NTS</th>
                <th data-field="price">Donor</th>
                <th data-field="name">Time</th>
            </tr>
        </thead>

        <tbody>
            {% for booking in bookings %}
            <tr class="picker__list-item--highlighted" onclick="location.href='/donors/{{ booking.id_donor.id }}'">
                <td>{{ booking.id_nts.name }}</td>
                <td>{{ booking.id_donor }}</td>
                <td>{{ booking.booking_time }}</td>
            </tr>
            {% endfor %}
        </tbody>

</section>
{% endblock %}
