{% extends "base.html" %} {% load staticfiles %} {% block title %}Employee Login{% endblock %} {% block content %}
    <section class="row">
        <h2 id="napisL">Terms</h2>
        <hr>
        {% for booking in bookings %}
            <div id="booking_{{ booking.id }}">
                <span>In NTS {{ booking.id_nts.name }}</span>
                <span>Donor:<a href="/donors/{{ booking.id_donor.id }}"> {{ booking.id_donor }}</a></span>
                <span>At: {{ booking.booking_time }}</span>
            </div>
        {% endfor %}
    </section>
{% endblock %}
