
<footer class="page-footer" style="margin-top: 100px !important;">
<div class="container">
    <div class="row">
    <div class="col l6 s12">
        <h5 class="white-text">Aktuality</h5>
        <div class="col l6 s12">
        <ul>
        <li><a class="grey-text text-lighten-3" href="http://www.ntssr.sk/478/odberove-hodiny-dna-18112016-budu-na-pracovisku-nts-sr-nove-zamky-skratene-t-j-do-1330-hod"><i class="material-icons"style="margin-right: 20px;">new_releases</i>
Odberové hodiny dňa 18.11.2016 budú na pracovisku NTS SR Nové Zámky skrátené, t. j. do 13:30 hod.
        </a></li>
        <li><a class="grey-text text-lighten-3" href="http://www.ntssr.sk/477/odberove-hodiny-dna-4112016-budu-na-pracovisku-nts-sr-bratislava-ruzinov-skratene-t-j-do-1300-hod"><i class="material-icons"style="margin-right: 20px;">new_releases</i>
Odberové hodiny dňa 4.11.2016 budú na pracovisku NTS SR Bratislava Ružinov skrátené, t. j. do 13:00 hod.
        </a></li>
        </ul>
    </div>
    <div class="col l6 s12">
        <ul>
        <li><a class="grey-text text-lighten-3" href="http://www.ntssr.sk/475/univerzitna-kvapka-krvi-v-trencine"><i class="material-icons"style="margin-right: 20px;">info_outline</i>
Univerzitná kvapka krvi v Trenčíne
        </a></li>
        <li><a class="grey-text text-lighten-3" href="https://www.ropk.sk/"><i class="material-icons"style="margin-right: 20px;">info_outline</i>
Register ponúk nehnuteľného a hnuteľného majetku štátu
určeného na prevod správy medzi správcami majetku štátu
        </a></li>
        </ul>
    </div>
    </div>
    <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Kontaktné informácie</h5>
        <ul>
        <li><a class="grey-text text-lighten-3" href="mailto:info@nts.sk"><i class="material-icons"style="margin-right: 20px;">email</i>info@nts.sk</a></li>
        <li><a class="grey-text text-lighten-3" href="tel:+421111222"><i class="material-icons"style="margin-right: 20px;">contact_phone</i>+421 111 222</a></li>
        <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/pages/Narodna-Transfuzna-Sluzba-Sr/337432112968542?fref=ts"><img src="../../static/isnts/images/mainpage/facebook.png" style="margin-right: 20px; width: 25px;height:25px;">Narodna Transfuzna Sluzba Sr</a></li>
        </ul>
    </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
    © Národná transfúzna služba SR. Všetky práva vyhradené!
    <a class="grey-text text-lighten-4 right" href="http://www.ntssr.sk/" target="_blank">Viac o transfúznej stanici</a>
    </div>
</div>
</footer>
