{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block content %}

     {% include "employees/navigator.html" %}

    <style>
    #dash {
        background-color: #2196F3;
        color:white;
    }
    </style>
  <div class="fixed-action-btn">
    <a href="create_new/" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
  </div>

<main>
<h2 id="napisL">Dashboard</h2>
          <hr>
</main>

    {% include "footer.html" %}
{% endblock %}
