{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ donor.first_name }} {{ donor.last_name }} blood sample{% endblock %}
{% block content %}
<section>
    <a href="/donors/{{ donor.id }}">Back</a>
    <h2>{{ donor.first_name }} {{ donor.last_name }} blood sample</h2>
    <form method="post" role="form">
        {% for field in blood_extraction_form.visible_fields %}
        <div id="div_{{ field.html_name }}" class="form-group{% if field.errors %} has-error{% endif %} input-field">
            {{ field }} {{ field.label_tag }}
            <div class="help-block">
                {{ field.errors }}
            </div>
        </div>
        {% endfor %} {% for hidden in blood_extraction_form.hidden_fields %} {{ hidden }} {% endfor %} {% csrf_token %}
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</section>
{% endblock %}
